<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="32feet.NET" version="3.5.0.0" targetFramework="net452" />
  <package id="ClearScript.V8" version="5.4.6" targetFramework="net452" />
  <package id="hidlibrary" version="3.2.31.0" targetFramework="net452" />
  <package id="NLog" version="4.0.0" targetFramework="net452" />
  <package id="PayPalRetailSDK" version="0.0.0.75" targetFramework="net452" />
</packages>